# Table of Contents
#### 01. Importing
#### 02. Data Wrangling Procedures
#### 03. Data Consistency Checks
#### 04. Export Data

# 01. Importing

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [5]:
# Path
path =r'/Users/heathervisentin/Desktop/Data Analysis/Achievement 6/World Happiness Report'

In [9]:
# Importing Data
df = pd.read_excel(os.path.join(path, '02 Data', 'Prepared Data', 'World Happiness merged with region.xlsx'), index_col = False)

In [10]:
df.head()

,Country,Year,Region,Happiness Rank,Happiness Score,GDP per Capita,Social Spport,Life Expectancy,Freedom,Government Corruption,Generosity,Dystopia Residual
0,Switzerland,2015,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,2015,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,2015,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,2015,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,2015,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

# 02. Data Wrangling Procedures

In [17]:
# Dropping region due to inconsistencies
df_new=df.drop(columns = ['Region'])

# 03. Data Consistency Checks

In [19]:
df_new.describe()

,Year,Happiness Rank,Happiness Score,GDP per Capita,Social Spport,Life Expectancy,Freedom,Government Corruption,Generosity,Dystopia Residual
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1083.000000,1084.000000,772.000000
mean,2017.968635,77.950185,5.413460,3.269365,1.004091,18.471404,0.515936,0.294111,0.153545,2.134016
std,1.995594,44.766196,1.118595,3.854953,0.310650,28.981743,0.221478,0.300707,0.167592,0.579682
min,2015.000000,1.000000,2.523000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.300907,0.257241
25%,2016.000000,39.000000,4.571000,0.780500,0.805747,0.552500,0.366947,0.068178,0.064828,1.764324
50%,2018.000000,78.000000,5.385150,1.170350,0.948000,0.773948,0.502269,0.136957,0.162140,2.150370
75%,2020.000000,117.000000,6.216125,7.640969,1.247028,54.707750,0.658436,0.500726,0.252000,2.517453
max,2021.000000,158.000000,7.842000,11.647000,1.644000,76.953000,0.974998,0.939000,0.838075,3.837720

In [20]:
# Finding missing values
df_new.isnull().sum()

Country                    0
Year                       0
Happiness Rank             0
Happiness Score            0
GDP per Capita             0
Social Spport              0
Life Expectancy            0
Freedom                    0
Government Corruption      1
Generosity                 0
Dystopia Residual        312
dtype: int64

In [21]:
# Viewing missing values
df_nan = df_new[df_new['Dystopia Residual'].isnull() == True]

In [22]:
df_nan

,Country,Year,Happiness Rank,Happiness Score,GDP per Capita,Social Spport,Life Expectancy,Freedom,Government Corruption,Generosity,Dystopia Residual
470,Finland,2018,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202,NaN
471,Norway,2018,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286,NaN
472,Denmark,2018,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284,NaN
473,Iceland,2018,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353,NaN
474,Switzerland,2018,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256,NaN
...,...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,2019,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217,NaN
778,Tanzania,2019,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276,NaN
779,Afghanistan,2019,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158,NaN
780,Central African Republic,2019,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235,NaN
781,South Sudan,2019,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202,NaN

In [23]:
# Finding duplicates
df_dups = df_new[df_new.duplicated()]

In [24]:
df_dups

Empty DataFrame
Columns: [Country, Year, Happiness Rank, Happiness Score, GDP per Capita, Social Spport, Life Expectancy, Freedom, Government Corruption, Generosity, Dystopia Residual]
Index: []

In [25]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084 entries, 0 to 1083
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                1084 non-null   object
 1   Year                   1084 non-null   int64
 2   Happiness Rank         1084 non-null   int64
 3   Happiness Score        1084 non-null   float64
 4   GDP per Capita         1084 non-null   float64
 5   Social Spport          1084 non-null   float64
 6   Life Expectancy        1084 non-null   float64
 7   Freedom                1084 non-null   float64
 8   Government Corruption  1083 non-null   float64
 9   Generosity             1084 non-null   float64
 10  Dystopia Residual      772 non-null    float64
dtypes: float64(8), int64(2), object(1)
memory usage: 93.3+ KB